body{
    display: block;
    width: 50%;
    border: 3px solid black;
    margin: 0 auto;
    padding: 20px;
    background-blend-mode: #29b9ad;
    width:400px;
    height:620px;
    border-radius: 25px;
}
.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#29b9ad;
    width:300px;
    height:300px;
    border-radius: 25px; 
    width:340px;
    height:250px;
    border-radius: 25px;
    background-image: url(image.jpg);
  }
  .calculadora td button{
    display:block;
    width:80px;
    height: 80px;
    font-size: 25px;
    border-radius: 25px;
    background-image: url(1.jpg.jpg);
  }
#n1 {
    width: 91%;
    background: aqua;
    padding: 10px;
    border-radius: 25px;
    display:block;
    text-align: center;
    font-size: 20px;
}
#n2 {
    width: 91%;
    background: aqua;
    padding: 10px;
    border-radius: 25px;
    display:block;
    text-align: center;
    font-size: 20px;
}
#res {
    width: 91%;
    background: aqua;
    padding: 10px;
    border-radius: 25px;
    display:block;
    text-align: center;
    font-size: 20px;
}
input {
    width: 31%;
    background: aqua;
    padding: 10px;
    border-radius: 25px;
}
